body{
    background:linear-gradient(0.50turn,white,rgb(0, 183, 255));
}
div#div1{
    border:solid;
    background-color:white;
    border-width: 3px;
    border-color: #3f3f3f;
    padding: 5px 5px 5px 15px;

}
h1{
    color: rgba(255, 0, 0, 0.722);
}
h2{
    color: rgb(0, 0, 0);
}

div#div2{
    background-color: white;
    border: solid;
    border-color: #3f3f3f;
    border-width: 3px;
    padding: 5px 5px 5px 15px;
}
div#div3{
    background-color: white;
    border: solid;
    border-color: #3f3f3f;
    border-width: 3px;
    padding: 5px 5px 5px 15px;
}
div#div4{
    background-color: white;
    border: solid;
    border-color: #3f3f3f;
    border-width: 3px;
    padding: 5px 5px 5px 15px;
}
